footer {
	clear: both;
	height: 100px;
	padding: 35px;
	background-color: black;
	text-align: center;
	color: white;
	p {
		display: inline-block;
	}
	.p1:after {
		content: $p1pic;
		padding: 0px 15px;
	}
	.p2:after {
		content: $p2pic;
		padding: 0px 5px;
	}
	.p3:after {
		content: $p3pic;
		padding: 0px 10px;
	}
}