header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	@extend %fullwidth;
	height: 100px;
	background-color: transparent;
	z-index: 1;
}

nav {
	display: block;
	float: right;
	padding-right: 90px;

	
	li {
		display: inline-block;
		padding: 40px 15px ;
		font-size: 20px;
		letter-spacing: 2px;
	
		a {
			color: white;
			text-shadow: black 0 0 3px;
		}
	}
}

.navpic {
	max-height: 110px;
	padding: 20px 30px 40px 90px;
}





